
<%- include('header') -%>
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Sign in</h4>
        </div>
        <div class="card-body">
          <form action="/user/login" method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label>Email:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label for="password">Password:</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
            </div>
          
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <% if(locals.invalid){ %>
                  <div class="alter alert-danger text-center">
                      <%= invalid %>
                  </div>
                <% } %>
                <% if(locals.message){ %>
                  <div class="alter alert-primary text-center">
                      <%= message %>
                  </div>
                <% } %>
              </div>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="/signup">Register</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

